# Secrets and credentials
.env
.env.*
*.key
*.pem
*.token
credentials*
secrets*
passwords*

# Generated builds and images
build/
out/
*.iso
*.img
*.bin
*.log

# Local tooling and IDEs
.vscode/
.idea/
toolchain/limine/
toolchain/src/
toolchain/build/
toolchain/local/
